.wrapper
  .header
    = render "posts/header"
  .mypage
    .mypage_left
      %ul
        %li.mypage_left__edit
          ユーザー情報の変更
        %li.mypage_left__logout
          ログアウトする
    .mypage_right
      .mypage_right__posts
      自分の投稿一覧
      .mypage_right__posts__list