.wrapper
  .header
    = render "posts/header"
    .firststep
      .firststep__left
        %p  新規会員登録
        .firststep__left__mail__address
          メールアドレスで登録
        .firststep__left__mail__g
          Googleアカウントで登録
        .firststep__left__mail__f
          Facebookアカウントで登録
      .firststep__left
        %p  すでに会員