.header {
  height: 60px;
  background-color: #FFF8DC;
  margin-bottom: 50px;

  &__in {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    display: flex;

    &__left {
      &__title {
        display: flex;
        a {
          color: #B8860B;
          text-decoration: none;
          font-size: 30px;
          line-height: 30px;
        }
        .icon {
          margin-left: 10px;
          font-size: 30px;
          color: #B8860B;
        }
      }
    }
    &__right {
      margin-left: auto;
      display: flex;
      a {
        color: #B8860B;
        text-decoration: none;
        font-size: 15px;
        line-height: 30px;
      }
      &__category {
        margin-left: 20px;
      }
      &__logout {
        margin-left: 20px;
      }
    }
  }
}

