.page {
  background-color: white;
  color: #111111;
  font-size: 15px;
  margin: 10px;
  
  
  a {
    text-decoration: none;
    color: #111111;
    font-size: 15px;
    
  }
}
.next {
  background-color: white;
  
  a {
    text-decoration: none;
    color: #111111;
    font-size: 15px;
    
  }
}
.last {
  background-color: white;
  a {
    text-decoration: none;
    color: #111111;
    font-size: 15px;
  }
  a:hover {
    text-decoration:underline;
  }
}
.first {
  background-color: white;
  a {
    text-decoration: none;
    color: #111111;
    font-size: 15px;
  }
  a:hover {
    text-decoration:underline;
  }
}
.prev {
  background-color: white;
  a {
    text-decoration: none;
    color: #111111;
    font-size: 15px;
  }
  a:hover {
    text-decoration:underline;
  }
}