.main {
  &__post {
    max-width: 1100px;
    margin: 0 auto;
    color: #777777;
    &__in {
      width: 100%;
      &__title {
        font-weight: bold;
        font-size: 30px;
        padding: 10px 0px;
        .after {
          content: "";
          border-bottom:double;
          border-color:#BBBBBB	;
          border-width:2px;
        }
      }
      &__text {
        padding: 20px 0px;
      }
      &__url {
        padding: 10px 0px;
        font-size: 20px;
        &__box {
          font-size: 15px;
        }
      }

    }
  }
}