.post {
  &__in {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    h1 {
      font-size: 25px;
      font-weight: bold;
      color: #B8860B;
      margin-bottom: 30px;
    }
    table {
      width: 90%;
      color: #777777;
      .upper {
        th {
          padding-bottom: 15px;
          font-weight: bold;
          font-size: 20px;
        }
        .post__in__list__title {
          width: 35%;
        }
        .post__in__list__category {
          width: 35%;
        }
        
        .post__in__list__menu {
          text-align: right;
        }
      }
      .downer {
        border-bottom:double;
        border-color:#BBBBBB	;
        border-width:2px;
        
        td {
          padding-top: 15px
        }
        a {
          text-decoration: none;
          color: #111111;
        }
        .post__in__list__edit {
          text-align: right;
        }
        .icon {
          text-align: right;
          text-decoration: none;
          color: #777777;
        }
        .tag {
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: white;
          font-size: 11px;
          background-color:#CC0000;
        }
      }
    }
  }
}