.post {
  &__in {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    h1 {
      font-size: 25px;
      font-weight: bold;
      color: #B8860B;
      margin-bottom: 30px;
    }
    table {
      width: 90%;
      color: #777777;
      .upper {
        th {
          padding-bottom: 15px;
          font-weight: bold;
          font-size: 20px;
        }
        .post__in__list__title {
          width: 40%;
        }
        .post__in__list__category {
          width: 30%;

        }
        
        .post__in__list__day {
          text-align: right;
        }
      }
      .downer {
        border-bottom:double;
        border-color:#BBBBBB	;
        border-width:2px;
        
        td {
          padding-top: 15px;
        }
        .post__in__list__name {
          a {
            font-weight: bold;
            text-decoration: none;
            color: black;
          }
        }
        
        a:hover {
          text-decoration:underline;
        }
        .post__in__list__day-time {
          text-align: right;
        }
        .icon {
          text-align: right;
          text-decoration: none;
          color: #777777;
          margin-right: 10px;
          font-size: 20px;
        }
        .tag {
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: white;
          font-size: 11px;
          background-color:#CC0000;
        }
      }
    }
    .page {
      background-color: white;
      color: #111111;
      font-size: 15px;
      margin: 10px;
      
      a {
        text-decoration: none;
        color: #111111;
        font-size: 15px;
        
      }
    }
    .next {
      background-color: white;
      
      a {
        text-decoration: none;
        color: #111111;
        font-size: 15px;
        
      }
    }
    .last {
      background-color: white;
      a {
        text-decoration: none;
        color: #111111;
        font-size: 15px;
      }
      a:hover {
        text-decoration:underline;
      }
    }
    .first {
      background-color: white;
      a {
        text-decoration: none;
        color: #111111;
        font-size: 15px;
      }
      a:hover {
        text-decoration:underline;
      }
    }
    .prev {
      background-color: white;
      a {
        text-decoration: none;
        color: #111111;
        font-size: 15px;
      }
      a:hover {
        text-decoration:underline;
      }
    }
  }
}
