.mypage {
  &__in {
    display: flex;
    padding-top: 20px;
    width: 100%;
    &__left {
      margin: 0 auto;
      &__name {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 20px;
        color: #B8860B;
      }
      &__edit {
        padding-top: 10px;
        a {
          @include btn();
          border: 1px solid #6B8E23	;
          background: #6B8E23	;
        }
      }
      &__logout {
        a {
          @include btn();
          border: 1px solid #6B8E23	;
          background: #6B8E23	;
        }
      }
    }
    &__right {
      margin-right: 300px;
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 25px;
      color: #B8860B;
      &__posts {
        border-bottom:double;
        border-color:#BBBBBB	;
        border-width:2px;
        padding-bottom: 10px;
        .icon {
          text-align: right;
          text-decoration: none;
          color: #777777;
          margin-right: 10px;
          font-size: 17px;
        }
        &__title {
          padding-top: 13px;
          font-size: 15px;
          padding-right: 15px;
          color: #777777;
          a {
            text-decoration: none;
            color: black;
          }
          a:hover {
            text-decoration:underline;
          }
        }
        
        &__edit {
          padding-top: 10px;
        }
        &__delete {
          padding-top: 10px;
        }
      }
    }
  }
}