.post__in
  %table.post__in__list
    %tr.upper
      %th.post__in__list__title
        title
      %th.post__in__list__category
        category
      %th.post__in__list__day
        date
    - @posts.each do |post|
      %tr.downer
        %td.post__in__list__name
          = link_to post.title, post_path(post.id)
        %td.post__in__list__category
          = render 'posts/tag', tags: post.tags
        %td.post__in__list__day-time
          = post.created_at.to_s(:datetime_jp)
  