.wrapper
  = render "header"
  .main
    .main__post
      .main__post__in
        %h1.main__post__in__title
          『Ruby』text_fieldについて
          .after
        %span 
          Ruby
        .main__post__in__text
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
          ここに本文
        .main__post__in__url
          参考URL一覧
          .main__post__in__url__box
            https://qiita.com/hakusai_it/items/4f45df6bf70ad67df017